@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

$content-well-max-width:  1320px;
$header-height:           75px;

//- colors
$brand-color:             #214A8F;
$well-bkg-clr:            #E1EBF1;
$page-bkg:                #fff;

$header-bkg:              none;
$header-text:             #fff;

$menu-item-color:         #fff;
$menu-item-hover-color:   #ccc;
$menu-item-active-color:  #fff;
